<html>

<head>
<title> Welcome to Ansible </title>
</head>

<body bgcolor='white' text='blue'>

<h1> Welcome to Ansible :) </h1>

This is a demo on how to build a webserver and make it available using Ansible.

</body>

</html>
